<h1>Customer Credit</h1>
<p>Welcome to the Customer Credit page!</p>
<br>

<button (click)="identifyAdmin()">Identify Admin</button>
<div *ngIf="isIdentified">
  <br>
  <p [ngStyle]="{ fontWeight: 'bold' }">Hi, {{ admins[index].username }} !</p>
  <!-- show admin auth (admin, not admin, who are you?)-->
  
  <div *ngIf="admins[index].isAdmin">
    <p [ngStyle]="{ color: 'green' }">You have access to the admin features.</p>
    <p>_____________________________________</p>
    <button (click)="showTable()">View Table</button>
    <div *ngIf="isShowTable">
        <app-table [uptTableChild]="uptTableParent"></app-table>
        <br>
        <app-form></app-form>
    </div>
  </div>
  
  <div *ngIf="!admins[index].isAdmin">
    <p>_____________________________________</p>
    <button (click)="restrictAdmin()">View Table</button>
    <div *ngIf="isRestrict">
      <br>
      <div [ngStyle]="{ color: 'red' }">[  Sorry, you don't have access  ].</div>
    </div>
  </div>


</div>